@using IndividualAssessment2_BasicDevExtreme.Models

<head>
    <link rel="stylesheet" href="~/css/Site.css" />
</head>

<style>
    body {
        background-color: #2a2a2a !important;
    }
</style>

<h2 class="text-light">Home</h2>

@(Html.DevExtreme().DataGrid<User>()
    .ShowBorders(true)
    .DataSource(_ => _
        .Mvc()
        .Controller("SampleUsersData")
        .LoadAction("Get")
        .Key("ID"))
    .Columns(columns => {
        columns.AddFor(_ => _.ID);
        columns.AddFor(_ => _.Name);
        columns.AddFor(_ => _.Surname);
        columns.AddFor(_ => _.BirthDate);
        columns.AddFor(_ => _.Age);
    })
    .Paging(_ => _.PageSize(10))
    .HoverStateEnabled(true)
)