@using IndividualAssessment2_BasicDevExtreme.Models

<head>
    <link rel="stylesheet" href="~/css/styling.css" />
</head>

<h2 class="text-light">Home</h2>

@(Html.DevExtreme().DataGrid<User>()
    .ShowBorders(true)
    .DataSource(_ => _
        .Mvc()
        .Controller("SampleUsersData")
        .LoadAction("Get")
        .InsertAction("Add")
        .UpdateAction("Update")
        .DeleteAction("Delete")
        .Key("ID"))
    .Editing(_ => _
        .Mode(GridEditMode.Form)
        .RefreshMode(GridEditRefreshMode.Reshape)
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
        .Texts(_ => _.AddRow("Add User"))
    )
    .Columns(columns => {
        columns.AddFor(_ => _.ID);
        columns.AddFor(_ => _.Name);
        columns.AddFor(_ => _.Surname);
        columns.AddFor(_ => _.BirthDate);
        columns.AddFor(_ => _.Age);
    })
    .Paging(_ => _.PageSize(10))
    .HoverStateEnabled(true)
    .OnEditorPreparing("disableId")
    .RemoteOperations(true)
    .Toolbar(toolbar =>
    {
        toolbar.Items(_ => _
            .Add()
            .Name("addRowButton")
            .ShowText(ToolbarItemShowTextMode.Always)
        );
    })
)

<script type="text/javascript" src="~/js/disableID.js"></script>